<h2>List tracks</h2>
<ul class="list-group">
  {{#each model as |track|}}
    <li class="list-group-item">
      {{show-track track_url=track.url}}
    </li>
  {{/each}}
</ul>

{{new-track createTrack=(action 'createTrack')}}
